.span{
    color:orange
}

@media screen and (max-width: 576px) {
    .responsive{
        flex-direction:column
    }
}
@media screen and (max-width:768px) {
    .responsive{
        width:100%
    }
}
@media screen and (max-width:992px) {
    .responsive{
        width:100%
    }
}